@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 200px 120px 200px;
  pointer-events: none;
  background-color: rgb(220, 220, 220);
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #979797 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: 1;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  filter: blur(15px);
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.url-input {
  @apply block w-full rounded-md border border-gray-300 bg-gray-100 py-2.5 pl-10 pr-[4.5rem] text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.submit-btn {
  @apply hover:border-gray-700 bg-gray-300 absolute inset-y-0 right-0 my-1.5 mr-2 flex w-14 items-center justify-center rounded border border-gray-300 font-sans text-sm font-medium;
}

.link-card {
  @apply p-3 flex justify-start items-center flex-row bg-gray-100 gap-3 rounded-lg cursor-pointer;
}

.action-btn {
  @apply w-7 h-7 rounded-lg bg-gray-300 backdrop-blur flex justify-center items-center cursor-pointer;
}

.blue-gradient {
  @apply font-black bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}
